<div class="col-lx-12" >
    <div class="row"  style="height: 600px;">
    <div class="p-5 mb-4 bg-dark text-white text-center ">
    <div class="container">
        <h1 class="display-4">{{page_title}}</h1>
        <p class="lead">Registrarte para ver y guardar contenido de relevancia, bajo la seguridad que
        ameritas.</p>
        <p>
            <a [routerLink]="['/temas']"  class="btn btn-primary btn-lg ms-3 mt-3">
                    Ver temas
            </a>

            <a [routerLink]="['/usuarios']" class="btn btn-success btn-lg ms-3 mt-3">
                Ver compañeros
            </a>

            <a [routerLink]="['/panel/crear']" class="btn btn-warning text-white btn-lg ms-3 mt-3">
                Nuevo tema
            </a>
        </p>
    </div>
    </div>
    </div>
</div>

