
  <!-- Cabecera de la web -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-black mt-4">
    <div class="container-fluid">
      <a class="navbar-brand"  [routerLink]="['/inicio']">
        <img src="../assets/pics/caballa_logo.png" alt="" style="width: 90px;height:90px;">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
            <li class="nav-item">
              <a class="nav-link"  aria-current="page" [routerLink]="['/inicio']" [routerLinkActive]="'active'">Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/temas']" [routerLinkActive]="'active'">Ver temas</a>
            </li>
          
            <li class="nav-item" *ngIf="identity.user">
              <a class="nav-link pointer" [routerLink]="['/panel/crear']" [routerLinkActive]="'active'">Crear tema</a>
            </li>
            <li class="nav-item" *ngIf="identity.user">
              <a class="nav-link pointer" [routerLink]="['/usuarios']" [routerLinkActive]="'active'">Compañeros</a>
            </li>
            <li class="nav-item">
              &nbsp;
            </li>
          
            <li class="nav-item">
              <form class="d-flex" role="search" #searchForm="ngForm">
                <input class="form-control me-2" name="searcher" type="search" placeholder="¿Que buscas?" #searcher="ngModel"
                  [(ngModel)]="search" aria-label="Search">
          
                <button class="btn btn-outline-danger me-3" type="submit" (click)="goSearch()">Buscar</button>
              </form>
            </li>
          </ul>
          
          <ul class="navbar-nav navbar-right">
            <li  class="nav-item" *ngIf="!identity.user">
              <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="'active'">Registro</a>
            </li>
            <li class="nav-item" *ngIf="!identity.user">
              <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="'active'" >
            Login
            </a>
            </li>
          
            <li class="nav-item" *ngIf="identity.user">
              <div class="avatar_mask" *ngIf="identity.user.image">
                <img src="{{ url + 'avatar/' + identity.user.image}}" class="avatar_nav">
              </div>
              <div class="avatar_mask" *ngIf="!identity.user.image">
                <img src="{{ '../assets/userpro.png'}}">
              </div>
          
            </li>
          
            <li class="nav-item dropdown" *ngIf="identity.user">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          
                {{identity.user.name + " " + identity.user.surname}}
          
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" [routerLink]="['/panel']">Panel de usuario</a></li>
                <li><a class="dropdown-item" [routerLink]="['/perfil/', identity.user._id]">Mi perfil</a></li>
                <li><a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a></li>
                <li><a class="dropdown-item pointer" (click)="logout()">Cerrar sesion</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

<footer class="footer text-center" style="max-height:30px ;">
  <!-- Footer Social Icons-->
  <div class="col-lg-4 mb-5 mb-lg-0 float-start">
    <h4 class="text-uppercase mb-4">Social networks</h4>
    <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
    <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
    <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-git"></i></a>
  </div>
  <!-- Footer About Text-->
  <div class="col-lg-4 float-end">
   
    <h4 class="text-uppercase mb-4">Developer</h4>
    <p class="lead mb-0">
      Develop by Hector Santos
  
    </p>
  </div>
</footer>
